{% extends "_base.html" %}
{% block main %}
<header class="about-section-hero"> 
<div class="intro">
    <h1> Welcome to J2O... </h1>
</div>
</header>

<section>
<div class="row">
    <div class="medium-9 large-10 small-centered columns">
        <div class="about-run">
            <h3> The Penthouse at Grande Bay Resort <br> <small> Cruz Bay, St John, United States Virgin Islands</small>  </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-8 large-9 small-centered columns about-run">
        <p>
        Enjoy our unobstructed, panoramic views overlooking the turquoise-blue waters of the Pillsbury sound, 
        the distant cays of the British Virgin Islands, and the evening lights of St. Thomas, all from the comfort of your fully appointed, 
        luxury, two-bedroom penthouse. 
        </p>
        <p>
        J2O is just a few short steps from the fine dining, shopping, watersports and all 
        of the beach activities that make St John the premier destination in the US Virgin Islands. Less than a five minute 
        walk from the Cruz Bay ferry dock, J2O at Grande Bay Resort is the perfect confluence of convenience and privacy.
        </p>
    </div>
</div>
</section>

<header class="about-renovation-hero">
<div class="intro">
    <h1> Completely Renovated </h1>
</div>
</header>
<section>
<div class="row">
    <div class="medium-8 large-9 small-centered columns about-run">
        <h3>
            With all new furnishings in the Summer of 2015
        </h3>
        <p>J2O now offers two luxury air-conditioned en-suite master 
        bedrooms with 13 foot peaked caribbean ceilings, island inspired decor, and queen-size, pillowtop beds.  
        Our fully appointed and outfitted kitchen offers granite countertops and stainless steel appliances. 
        The living and dining room areas have been completely remodeled to maximize our stunning panoramic views in 
        cool comfort. Our four, expansive balconies remain unchanged offering the best views at 
        Grande Bay Resort and numerous outdoor dining options.
        </p>
        <p>
        J2O at Grande Bay Resort offers complimentary Wi-Fi, cable tv, three flat-screen TVs, washer/dryer, 
        beach chairs and towels, and US nationwide landline phone service.  Additionally, take advantage of the 
        resort’s beautiful pool, hot tub and fitness center as well as J2O’s reserved garage parking space.
        </p>
    </div> 
</div>
</section>
    <header class="about-island-hero">
    <div class="intro">
        <h1> An Island Paradise </h1>
    </div>
    </header>
<section>
<div class="row">
    <div class="medium-8 large-9 small-centered columns about-run">
        <h3> Protected by the the National Park Service </h3>
        <p>
        St. John has remained largely untouched  with 75% of the island’s 
        20 square miles designated as a National Park.  Snorkeling and hiking trails, plants and forests, historic ruins, 
        and archeological dig areas retain their natural beauty for the future enjoyment of all visitors. 
        </p>
        <p>
        Though a tiny island, St John is home to over 50 of the most beautiful beaches in the world, where visitors can
        enjoy paddle boarding, tennis, kayaking, parasailing, day sails, horseback riding, fishing, scuba diving 
        or just relaxing in the sun. Just a short walk from J2O at Grande Bay Resort, 
        guests will also find a shopper’s paradise featuring locally made jewelry, gifts, art and resort wear.
        </p>
        <p>
        From casual to fine dining, St John offers endless restaurant possibilities as well as full service markets.  
        We are always happy to assist in provisioning J2O for your stay.
        </p>
    </div>
</div>
</section>

{% endblock %}
