{% extends "_base.html" %}
{% block main %}
<section class="hero">
<div class="row intro">
    <div class="medium-3 large-5 columns">
    </div>
    <div class="medium-8 large-7 columns">
        <h1>When it's time to relax...</h1>
        <p>
        ... think J2O, the Penthouse at Grande Bay Resort. Switch onto “island time” 
        and experience the peaceful, easy feeling that makes St. John so unique. 
        Clear water, perfect weather, uncrowded, pristine beaches and the stunning natural 
        island beauty of St John will bring you back year after year.   
        </p>
        <p>
        <button type="button" class="button"> Contact us for Booking Information </button>
        </p>
    </div>
</div>
</section>
{% endblock %}
